body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
	line-height: 1.5;
  color: #1188dd;
  position: relative;
}
.home_button{
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 48px;
  height: 48px;  
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.intro {
  background: url(../img/bg2.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.main_header__top {
  height: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #fff;
}

.galery_header{
  background: rgba(33, 136, 221, .8);
}

.main_header__top .logo {
  min-width: 230px;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  margin: 0 30px;
  border-right: 2px #fff;
}

.main_header__top .logo a{
  text-decoration: none;
  color: inherit;
}

.main_header__top .top_nav {
  margin: 0 30px; 
}

.main_header__top .top_nav ul {
	height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
	align-items: center;
	justify-content: space-between;
}

.main_header__top .top_nav ul li{  
  
  margin-right: 10px;
}

.main_header__top .top_nav ul li a{
  display: block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: inherit;
  font-size: 18px;  
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: .3s;
}

.main_header__top .top_nav ul li a:hover{
  color: #1188dd;
  background-color: rgba(255, 255, 255, .8);
  transition: .3s;
}

.slogan{
  max-width: 40%;
  margin: 90px 30px 0;  
}

.slogan h1 {
  color: #fff;
  font-family: 'Caveat', cursive;
  font-size: 50px;
  line-height: 70px;  
}

.slogan p {
  margin-top: 40px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
}

.content{
	background: rgba(33, 136, 221, .1) url(../img/bg_my_works.png) repeat;
}

.section{
  padding: 20px 0 20px 0;
  min-height: 100vh;
}

.my_works{
	padding-top: 40px;
}

.section_title{
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.accordion_inner,
.galery__inner{
  width: 100%;
		height: 70vh;
  padding: 0 30px;
}

galery__title{
  text-align: center;
}

.galery__img{
  
  margin-top: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.galery__img a{
  display: block;
  width: 16.6666%;  
  border: 2px solid #1188dd;
}


.galery__img a img{
  width: 100%;
}

/*Feedback section*/

.feedback_inner{
	max-height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.feedback_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 47%;
	max-height: 200px;
	margin: 10px;
	}

.feedback_item a{
	height: 100%;
	display: block;
	text-decoration: none;
	padding-left: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.feedback_item a h4{
	font-size: 25px;
	font-weight: 700;
	line-height: 35px;
	color: #1188dd;
}
.feedback_item a p{
	overflow: hidden;
	line-height: 1.2;
	color: #1188dd;
	text-overflow: ellipsis;
}
.feedback_item img{
	width: 150px;
	height: 150px;
	border-radius: 100%;
}
.feedback_form_container{
	margin: 0 auto;
}
.feedback_form{
	width: 600px;
	margin: 0 auto;
}
.feedback_form h5{
	font-size: 25px;
	font-weight: 700;
}
.feedback_form_inner p{
	display: block;
	margin-right: 15px;
}
.feedback_text, 
.feedback_name{
	font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.feedback_form_inner .feedback_text,
.feedback_name{
	width: 100%;
	margin-top: 15px;
	padding: 0;
	border-radius: 5px;
	border: 2px solid #1188dd;
}
.feedback_submit{
	display: block;
	width: 150px;
	height: 50px;
	align-self: flex-end;
	font-family: 'Montserrat', sans-serif;
  font-size: 18px;
	color: #1188dd;
	border-radius: 5px;
	border: 2px solid #1188dd;
	background-color: rgba(255, 255, 255, .8);
	cursor: pointer;
	transition: all ease .3s;
}
.feedback_submit:hover{
	color: #fff;
  background-color: #1188dd;
  transition: all ease .3s;
}

/* Price */

.price_item{
	width: 30%;
	padding: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price_photo img{
	width: 200px;
	height: 200px;
}

.price_list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}





















