body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #1188dd;
  position: relative;
}
.home_button{
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 48px;
  height: 48px;  
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.intro {
  background: url(../img/bg2.jpg) center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.main_header__top {
  height: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #fff;
}

.main_header__top .logo {
  min-width: 230px;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  margin: 10px 30px;
  border-right: 2px #fff;
}

.main_header__top .logo a{
  text-decoration: none;
  color: inherit;
}

.main_header__top .top_nav {
  margin: 10px 30px; 
}

.main_header__top .top_nav ul {
  margin-top: 10px;
}

.main_header__top .top_nav ul li{  
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.main_header__top .top_nav ul li a{
  display: block;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: inherit;
  font-size: 18px;  
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: .3s;
}

.main_header__top .top_nav ul li a:hover{
  color: #1188dd;
  background-color: rgba(255, 255, 255, .8);
  transition: .3s;
}

.slogan{
  max-width: 40%;
  margin: 90px 30px 0;  
}

.slogan h1 {
  color: #fff;
  font-family: 'Caveat', cursive;
  font-size: 50px;
  line-height: 70px;  
}

.slogan p {
  margin-top: 40px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
}

.my_works{
  height: 100vh;
  background: rgba(33, 136, 221, .9) url(../img/bg_my_works.png) repeat;
}

.my_works h2{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.accordion_inner,
.galery__inner{
  width: 100%;
  padding: 0 30px;
}

galery__title{
  text-align: center;
}

.galery__img{
  
  margin-top: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}

.galery__img a{
  display: block;
  width: 16.6666%;
  
  border: 2px solid #1188dd;
}


.galery__img a img{
  width: 100%;
  
  
}














